code, .code {
  @extend .code-text;
  display: inline-block;
  padding: 3px 5px;
  margin: 0;
  background-color: $grayLighter;
  color: $red;
  border: 1px lighten($gray, 50%) solid;
  font-size: 90%;
  line-height: 90%;
}

.label {
  display: inline-block;
  padding: 3px 5px;
  margin: 0;
  font-size: 90%;
  font-weight: normal !important;
  line-height: 90%;
  background: $grayLighter;
  color: $gray;
  @extend .text-bold;

  &.alert, &.error {
    background-color: $red;
    color: $white
  }
  &.important, &.warning {
    background-color: $orange;
    color: $white
  }
  &.success {
    background-color: $darkGreen;
    color: $white
  }
  &.info {
    background-color: $cyan;
    color: $white;
  }
}

hr {
  height: 1px;
  margin: 20px 0;
  border: 0;
  color: $grayLighter;
  background-color: $grayLighter;
}
