///////////////////
// Stylish Fonts //
///////////////////

@font-face {
	font-family: Harlow Solid Italic;
	src: font-url('HarlowSolidItalic.ttf');
}

@font-face {
	font-family: 'Fjalla One';
	font-style: normal;
	font-weight: 400;
	src: local('Fjalla One'),
	local('FjallaOne-Regular'),
	url(http://themes.googleusercontent.com/static/fonts/fjallaone/v1/rxxXUYj4oZ6Q5oDJFtEd6hsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

/////////////////
// Clean Fonts //
/////////////////

@font-face {
	font-family: Sansation Light;
	src: font-url('SansationLight.woff');
}
