@font-face{
	font-family: Geometria, ;
	src: url(#{$const-url-font}Geometria.otf),
		 url(#{$const-url-font}Geometria.woff);
    font-weight: normal;
}
@font-face{
	font-family: Geometria;
	src: url(#{$const-url-font}Geometria-Bold.otf),
	 	 url(#{$const-url-font}Geometria-Bold.woff);
	font-weight: bold;
}
@font-face{
	font-family: Geometria;
	src: url(#{$const-url-font}Geometria-ExtraBlack.otf);
	font-weight: 900;
}
@font-face{
	font-family: Geometria;
	src: url(#{$const-url-font}Geometria-ExtraLight.otf),
		 url(#{$const-url-font}Geometria-ExtraLight.woff);
	font-weight: 100;
}
@font-face{
	font-family: Geometria;
	src: url(#{$const-url-font}Geometria-Heavy.otf);
	font-weight: 800;
}
@font-face{
	font-family: Geometria;
	src: url(#{$const-url-font}Geometria-Medium.otf),
		 url(#{$const-url-font}Geometria-Medium.woff);
	font-weight: 500;
}
@font-face{
	font-family: Geometria;
	src: url(#{$const-url-font}Geometria-Light.otf),
		 url(#{$const-url-font}Geometria-Light.woff);
	font-weight: lighter;
}
@font-face{
	font-family: Geometria;
	src: url(#{$const-url-font}Geometria-Thin.otf),
		 url(#{$const-url-font}Geometria-Thin.woff);
	font-weight: 200;
}
@font-face{
	font-family: PFDinCondProReg;
	src: url(#{$const-url-font}PFDinTextCondPro-Regular.ttf),
		 url(#{$const-url-font}PFDinTextCondPro-Regular.woff);
}