$ease-out-bounce: cubic-bezier(0, 0.6, 0.55, 1.4);

@keyframes caret {
	50% {
		opacity: 0.1;
		@include scaleY(.8);
	}
}
@-webkit-keyframes caret {
	50% {
		opacity: 0.1;
		@include scaleY(.8);
	}
}

.fancyInput {
	display: inline-block;
	letter-spacing: -1px;
	// text-shadow: 0 2px 5px rgba(0,0,0,.6);
	white-space: nowrap;
	width: auto;
	position: relative;
	
	@include placeholder(transparent);
	
	&.textarea {
		white-space: normal;
		overflow: auto;
	}
	
	&, input, & textarea {
		// font-family: 'Fjalla One', sans-serif;
	}

	input, & textarea {
		color: transparent;
		position: absolute;
		z-index: 2;
		width: 100%;
		border: 0;
		outline: 0;
		top: 0px;
		left: 0;
		background: none;
		padding: inherit;
		padding-bottom: 0;
		font-size: inherit;
		letter-spacing: -1px;
		@include box-sizing( border-box );
	}
	input {
		top: 1px;
		left: -1px;
		padding-right: 0;
	}
	textarea {
		word-break: break-all;
		overflow: hidden;
		height: 100%;
	}
	
	> div {
		display: inline-block;
		position: relative;
		
		&:before {
			opacity: 0;
			left: -20px;
			content: attr(data-placeholder);
			position: absolute;
			transition: 0.3s ease-out;
		}

		&.empty:before {
			opacity: 0.2;
			left: 0;
		}
	}

	input:focus ~ div.empty:before {
		opacity: .1;
	}
	
	&.textarea > div {
		width: 99.9%%;
	}

	*:focus ~ .caret,
	*:focus ~ div .caret {
		opacity: 0.65;
		box-shadow: 0 0 8px #FFF;
		@include animation( .4s 80ms caret infinite );
	}

	.caret:only-child {
	}

	.caret {
		font-weight: normal;
		opacity: 0;
		display: inline-block;
		width: 3px;
		margin-left: -3px;
		// background: red;
		border-radius: 4px;
		@include user-select( none );
	}
	span:not(.deleted) ~ .caret {
		position: absolute;
		margin: 0;
	} /* only Caret which is */

	/* lettes */
	> div span {
		@include transition( 100ms $ease-out-bounce );
		display: inline-block;
		position: relative;
	}
	> input[type=password] + div span:empty::after {
		content: 'â—';
		display: inline;
	}
	> div .deleted {
		opacity: 0;
		@include transition-duration( 140ms );
		@include translateX(12px);
	}

		/*.fancyInput > div span: last-of-type ~ br {
		display: block;
			white-space: pre;
		}*/
		/*.fancyInput br: last-of-type + .caret {
		position: static;
			display: inline-block;
		}*/
		
	/* text effects */
	> div span {
			&.state1 {
			@include translateY(-25px);
			@include rotateX(90deg);
		}
		&.state2 {
			@include translateY(25px);
			@include rotateX(90deg);
		}
	}
}

///////////////////////
// Styling & Effects //
///////////////////////

.fancyInput {
	&.effect2 > div span {
		&.state1, &.state2 {
			@include translateX(10px);
			@include scale(1.8);
		}
	}

	&.effect3 > div span {
		@include transition( 200ms $ease-out-bounce );

		&.state1, &.state2 {
			opacity: 0;
			@include scale(0.4);
		}
	}

	&.effect4 > div span {
		@include transition-duration( 150ms );

		&.state1, &.state2 {
			opacity: 0;
			@include translateY(-60px);
		}
	}

	&.effect5 > div span {
		@include transition-duration( 150ms );
		
		&.state1, &.state2 {
			opacity: 0;
			@include translateX(-30px);
		}
	}

	vertical-align: middle;
	overflow: hidden;
	text-align: left;
	border: thin solid $gray-light;
	
	// font-size: 60px;
	// color: #FFF;
	// line-height: 1.3;
	// background: rgba(0,0,0,.1);
	// border-radius: 10px;
	// padding: 8px 20px;
	
	// @include box-shadow(
	// 	0 1px 0 rgba(255,255,255,.15),
	// 	0 2px 4px rgba(0,0,0,.2) inset,
	// 	0 0 12px rgba(255,255,255,.1)
	// );

	.textarea {
		// line-height: normal;
		
		// font-size: 40px;
		// max-width: 50%;
		// min-height: 160px;
		// max-height: 40%;
	}
}