body {
	text-align: center;
}

// Content after title
.after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
}

// nice buttons
.hero {
	margin-top: 2em;
	padding: 2em;
	display: inline-block;
	
	
	$col: map-get($colors, 'white');
	
	border: 2px solid $col;
	color: $col;
	&:hover {
		background-color: $col;
		color: invert($col);
	}

	@include transition-duration(.5s);
}

time {
	font-size: 80%;
}